.container-fluid.aboutme { 
    padding: 0 auto; 
    width: 75%;
    padding-top: 40px; 
    padding-right: 5px; 
    
}

.aboutme { 
  
    
    margin-right: auto; 
    max-width: 68%;
    
    
  
}

.profile { 
   
  
  display: block; 
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;  
  margin: 0 auto;
  overflow: hidden;
  }

img {
    float: left;
    padding-right: 10px;
}

.bio{ 
  overflow: hidden;
  font: 16px 'Roboto', sans-serif; 
  font-weight: 300; 
  padding-bottom: 50px; 
}
.profile-sub-heading{
  
  font: 20px 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  width: 90%;
  margin: 0 auto;
  }

  .profile-paragraph { 
    display: block;
    
    margin-left: 10px; 
    position: static;
    font: 16px 'Roboto', sans-serif; 
    font-weight: 300;
    margin: 0 auto; 
    width: 80%;
    line-height: 22px;
    

    
  }

.bold { 
  color: #799FB5; 
  font-weight: bold; 
  text-decoration: none; 
  background: none;
  
}

.hello { 
 
  font-weight: bold;
  font: 20px 'Roboto', sans-serif; 

}
.bold a { 
  color: #799FB5; 
  font-weight: bold; 
  text-decoration: underline; 
  background: none;
}


.bold a:hover {
  color: #799FB5;
  text-decoration: underline; 
}


