.container-fluid.aboutme { 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 30px;
    width: 85%;
}

.profile { 
  max-width: 500px; 
  max-height: 500px; 
  float: left;
  padding-right: 50px; 
  }

  .profile-sub-heading{
    font: 26px 'Roboto', sans-serif; 
    font-weight: bold; 
    width: 85%;
    margin: 0 auto;
  }

  .profile-paragraph { 
    font: 18px 'Roboto', sans-serif; 
    font-weight: 300;
    margin: 0 auto; 
    width: 85%;
    line-height: 28px;
  }

