.container-fluid.project{
    padding: 0 auto;
    width: 75%; 
  }
  
  .project{
    margin-left: auto; 
    margin-right: auto; 
  }
  
  .project{
    padding-top: 30px; 
    
  }
  
  .project-heading{
    font: 36px 'Roboto', sans-serif;
    font-weight: 400; 
    text-align: center;
    margin-bottom: 12px; 
  }
  
  .project-intro{
    font: 20px 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    text-align: center;
  
  }
  
  .gamedesignheader {
    width: 90%; 
    margin: 0 auto; 
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 30px;
  }
  
  .project-caps-heading{ 
    font: 16px 'Roboto', sans-serif;
    color:  #FF1744;
    letter-spacing: 2px;
    width: 85%; 
    margin: 0 auto; 
    margin-top: 40px; 
  }
  
  .project-sub-heading{
    font: 24px 'Roboto', sans-serif; 
    font-weight: bold; 
    margin:0 auto; 
    width: 85%; 
    margin-top: 20px; 
    margin-bottom: 15px; 
    
  }
  
  .project-paragraph{ 
    font: 18px 'Roboto', sans-serif; 
    font-weight: 300;
    margin: 0 auto; 
    width: 85%;
    line-height: 28px;
  
  }
  
  .low{ 
    display: block; 
    margin-left: auto; 
    margin-right: auto;  
    max-width: 120%;
    max-height: 120%; 
    padding-top: 20px; 
    
  }

  .gameflow{ 
    display: block; 
    margin-left: auto; 
    margin-right: auto;  
    max-width: 75%; 
    padding-top: 20px; 
    
  }

  ul.a { 
    list-style-type: circle; 
    font: 18px 'Roboto', sans-serif; 
    font-weight: 300;
    margin: 0 auto; 
    width: 85%;
    line-height: 28px;
  }

 .wireframe{ 
    display: block; 
    margin-left: auto; 
    margin-right: auto;  
    max-width: 85%; 
    padding-top: 30px; 
    padding-bottom: 30px; 
    
  }

  .wireframe2{ 
    display: block; 
    margin-left: auto; 
    margin-right: auto;  
    max-width: 85%; 
    padding-top: 30px; 
    padding-bottom: 30px; 
    
  }

.flow{
  display: block; 
  margin-left: auto; 
  margin-right: auto;  
  padding-top: 20px; 
}

  

