.container.project{
    padding: 0 auto;
    width: 75%; 
  }
  
  .project{
    margin-left: auto; 
    margin-right: auto; 
  }
  
  .project{
    padding-top: 30px; 
    max-width: 80%;
  }
  
  .project-heading{
    font: 36px 'Roboto', sans-serif;
    font-weight: 400; 
    text-align: center;
    margin-bottom: 12px; 
  }
  
  .project-intro{
    font: 20px 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
  
  }
  
  .project-caps-heading{ 
    font: 14px 'Roboto', sans-serif;
    color:  #FF1744;
    letter-spacing: 2px;
    width: 85%; 
    margin: 0 auto; 
    
    
  }
  
  .project-sub-heading{
    font: 24px 'Roboto', sans-serif; 
    font-weight: bold; 
    margin:0 auto; 
    width: 85%; 
    margin-top: 20px; 
    margin-bottom: 15px; 
    
  }
  
  .project-paragraph{ 
    font: 18px 'Roboto', sans-serif; 
    font-weight: 300;
    margin: 0 auto; 
    width: 85%;
    line-height: 28px;
  
  }
  
  .low{ 
    display: block; 
    margin-left: auto; 
    margin-right: auto;  
    max-width: 70%; 
    padding-top: 20px; 
    
  }
  
  .row img { 
      align-content: center;
      width: 25%;
      height: 25%; 
      margin: 0 auto; 
  }

  .iconsheader {
    align-content: center;
    margin: 0 auto; 
    max-width: 43%;
    max-height: 43%; 
    padding-bottom: 10px; 
    padding-top: 10px;


  }

