
body { 
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif; 
}

.topnav {
    opacity: 1; 
}


.topnav a {
  float: left;
  color: #595959;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Source Serif Pro', serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #9999ff;
}



/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
