body {
	background-color: #ffffff; 
}

.main-menu {
	opacity: 1; 
	background-color: #ffffff; 
}



.main-menu a {
  	float: left;
  	color: #595959;
  	text-align: center;
  	padding: 20px 16px;
 	text-decoration: none;
 	font-size: 18px;
 	font-family:'Roboto',sans-serif;
 	font-weight: 300; 
	background-color: transparent; 
}

/* change menu link on hover */
.main-menu a:hover {
  color: #799FB5;
  text-decoration: none; 
  transition-duration:0.5s;
}

a {
	text-decoration: none;
	color: inherit;
}



/* Right-aligned section inside the top navigation */
.main-menu {
  float: right;
  display: flex;
  margin: 10px;
  margin-right: 80px; 
  margin-top: 30px; 
  vertical-align: middle; 
  
}

.name { 
  float: left; 
  display: flex; 
  margin: 10px;
  margin-left: 80px; 
  margin-top: 30px; 
  vertical-align: middle; 
background-color:transparent; 
}

.name a {
  
  color: #333333;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 28px;
  font-family: 'DM Serif Display', serif;
  font-weight: bold; 
}

.name a:hover {
  color: #000000;
  text-decoration: none; 
  
}

.site-header{
  display: inline-block;
  position: relative;
  width: 100%;
background-color:#ffffff;
}

.tag-line{ 
  margin: 0 auto;  
  position: static;
  padding-bottom: 250px;
  background-color: #ffffff; 
}

header{ 
  background-color:#ffffff; 
}

p1 { 
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 50px; 
    color: #333333;
    margin-left: 150px; 
}

p2 { 
    font:'Roboto', sans-serif;
    font-weight: 300; 
    font-size: 22px; 
    color: #000000;
    margin-left: 150px;  
}

h5 { 
    text-align: center;
    font: 'Roboto', sans-serif;
    
}

.portfolio{
  background-color: #ffffff;
  padding-top: 50px; 
  padding-bottom: 40px;
}

.p3 {
    text-align: center;
    font-weight: 300;
}
.card-body { 
    text-align: center; 
    font: 'Roboto', sans-serif;
}

.overlay-container{
  position: relative; 

}

.gamedesign { 
  padding-top: 25px; 
  max-width: 75%; 
  max-height: 75%; 
}

.hci { 
  
  padding-top: 20px; 
  padding-right: 20px; 
  padding-left: 20px; 
  padding-bottom: 10px;
  max-width: 75%; 
  max-height: 75%; 
  
}

.icons { 
  padding-top: 20px; 
  max-width: 85%; 
  max-height: 85%; 
  margin-bottom: -20px;  
  
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
  
}
.text { 
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font: 2em 'Roboto', sans-serif;
}
.overlay-container:hover .overlay {
  opacity: 0.4;
}



