body { 
  
  background-color: #ffffff; 
}

.main-menu {
    opacity: 1; 
    background-color:#ffffff; 
}



.main-menu a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family:'Roboto',sans-serif;
  font-weight: 300; 
  background-color: transparent; 




}

/* change menu link on hover */
.main-menu a:hover {
  color: #799FB5;
  text-decoration: none; 
  transition-duration:0.5s;
}

a {
	text-decoration: none;
	color: inherit;
}



/* Right-aligned section inside the top navigation */
.main-menu {
  float: right;
  display: flex;
  margin: 10px;
  padding-right: 80px; 
  padding-top: 30px; 
  vertical-align: middle; 
   
  
}

.name { 
  float: left; 
  display: flex; 
  padding: 10px;
  padding-left: 80px; 
  padding-top: 30px; 
  vertical-align: middle; 
  background-color:transparent; 
  
}

.name a {
  
  color: #333333;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 28px;
  font-family: 'DM Serif Display', serif;
  font-weight: bold; 


}

.name a:hover {
  color: #000000;
  text-decoration: none; 
  
}

.site-header{
  display: inline-block;
  position: relative;
  width: 100%;
  background-color:#ffffff;  
}

header{ 
  background-color:#ffffff; 
}

.tag-line{ 
  margin: 0 auto;  
  position: static;
  padding-bottom: 220px;
  background-color: #ffffff; 
}

p1 { 
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 50px; 
    color: #333333;
    margin-left: 150px; 
}

p2 { 
    font:'Roboto', sans-serif;
    font-weight: 300; 
    font-size: 22px; 
    color: #000000;
    margin-left: 150px;  
}

h5 { 
    text-align: center;
    font: 'Roboto', sans-serif;
    
}

.portfolio{
  background-color: #ffffff;
  padding-top: 50px; 
  padding-bottom: 40px;

  
}

.p3 {
    text-align: center;
    font-weight: 300;
}

.card-body { 
    text-align: center; 
    font: 'Roboto', sans-serif;
    
}



.overlay-container{
  position: relative; 
  background-color: #000000;
}

.gd-overlay-container{
  position: relative; 
  background-color: #e6eeff; 
}

.hci-overlay-container{
  position: relative; 
  background-color: #dbf0ed;
}

.icons-overlay-container{
  position: relative; 
  background-color: #ffeae6;
}

.elearning-overlay-container{
  position: relative; 
  background-color: #faeed1;
}

.gamedesign {  
  margin-top: 3.2%; 
  max-width: 75%; 
  max-height: 75%; 
}

.hci {  
  margin-top: 3%; 
  max-width: 69%; 
  max-height: 69%; 
}

.icons { 
  max-width: 85%; 
  max-height: 85%;  
}

.elearning { 
  margin-top: 10%; 
  margin-bottom: 8%; 
  max-width: 85%; 
  max-height: 95%; 
  
  
  
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
  
}
.text { 
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font: 2em 'Roboto', sans-serif;
}
.gd-overlay-container:hover .overlay {
  opacity: 0.4;
}

.hci-overlay-container:hover .overlay {
  opacity: 0.4;
}

.icons-overlay-container:hover .overlay {
  opacity: 0.4;
}

.elearning-overlay-container:hover .overlay {
  opacity: 0.4;
}

.overlay-container:hover .overlay {
  opacity: 0.4;
}



